 <h1>書籍列表</h1>

  <%= link_to "新增書籍", new_candidate_path %>

  <table>
    <thead>
      <tr>
        <td>書名</td>
        <td>簡介</td>
        <td>作者</td>
        <td>售價</td>
      </tr>
    </thead>
    <tbody>
      <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.bookname %></td>
        <td><%= candidate.introduction %></td>
        <td><%= candidate.name %></td>
        <td><%= candidate.price %></td>
        <td>
          <%= link_to "編輯", edit_candidate_path(candidate) %>
          <%= link_to "刪除", candidate_path(candidate), method: "delete", data: { confirm: "確認刪除" } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>